---
---

@import 'mixins';
@import 'constants';

.reasons, .example {
  @include display-flex(row);
  width: 80%;
  margin-left: 10%;
}

.reasons {
  background-color: #f5f5ff;
  box-sizing: border-box;
  text-align: center;

  .reason {
    width: 25%;
    margin: 2% 4%;
    padding: 0 5%;
  }
}

.example {
  margin-bottom: 5%;;
  margin-top: 5%;
  height: 30em;
}

.example-code {
  border: 1px solid black;
  width: 50%;
  padding: 5em 3em;
  margin-right: 5%;
  display: inline-block;
}

.example-text {
  text-align: left;
  border: 1px solid black;
  width: 50%;
  padding: 5em 3em;
  display: inline-block;
}

.example-text-links {
  margin-top: 5em;

  a {
    text-decoration: none;
    color: #8A4182;

    &:hover {
      text-decoration: underline;
    }
  }
}

.example-text-label {
  font-size: 32px;
  margin-bottom: .5em;
  text-align: center;
}

.sponsors {
  text-align: left;
  margin-left: 10%;
  width: 80%;
}

.sponsors-label {
  font-size: 28px;
  margin: .5em 5em;
}

.sponsors-logos {
  @include display-flex(row);
  margin: 4em 1em;
}
.logo {
  font-size: 24px;
  margin: 0 5em;
  border: 1px solid black;
  padding: 10px 40px;
}
