table.docco {
    /* Prevent overly-wide <pre> from blowing out the width of the table */
    width: 100%;
    table-layout: fixed;
}

/* Override general table cell border and padding set in pages.scss */
table.docco td.docs, table.docco th.docs {
    border: 0;
}
table.docco td.code, table.docco th.code {
    border: 0;
    padding: 14px 15px 16px 25px;
}

/* Ensure that code gets 16px even if the element has been de-docco'd
   This overrides the more general style for table td code in pages.scss. */
table.docco .code code {
    font-size: 16px;
}

.docco th.docs, .docco td.docs {
    width: 26%;
    padding: 10px 25px 1px 0px;
}

.docco th.code, .docco td.code {
    width: 74%;
 }

.pilwrap {
    position: relative;
}

.pilcrow {
    position: absolute;
    top: 3px;
    left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    font: 12px Arial;
    text-decoration: none;
}

.docs:hover .pilcrow {
    opacity: 1;
}

.docs {
    /* Override global table cell padding that's intended for jsdoc */
    padding-left: 0;
}

.code {
    /* TODO: Fix the tutorial code to fit when using the light-code font,
       then use the light-code mixin. */
    background-color: #f0f0f0;
}

.docs code {
    /* make jasmine.DEFAULT_TIMEOUT_INTERVAL fit */
    font-size: 12px;
}

