/*--- Jasmine overrides for Docco CSS ---*/
body {
  font-family: 'Lora', serif;
  background-color: #eee;
}

#background {
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
}

.title-banner {
  position: relative;
  height: 105px;
}

.title-banner .jasmine-logo {
  position: absolute;
  top: 12px;
  left: 40px;
  width: 273px;
  height: 75px;
  background-image: url(/images/jasmine-horizontal.png);
  background-image: url(/images/jasmine-horizontal.svg), none;
  background-repeat: no-repeat no-repeat;
  background-size: 100%;
}

.powered-container {
  position: absolute;
  top: 23px;
  right: 12px;
}

.title-banner .pivotal-logo {
  width: 150px;
  height: 54px;
  background-image: url(/images/pivotal_logo.png);
  background-image: url(/images/pivotal_logo.svg), none;
  background-repeat: no-repeat no-repeat;
  background-size: 100%;
  float: left;
}

.powered {
  padding: 15px 12px 12px;
  float: left;
}

.jump_to {
	list-style: none;
	font-weight: bold;
	font-size: 16px;
}

.jump_to li {
	display: inline-block;
	margin-left: 10px;
}

.jump_to a:hover {
	color: #772a70;
}

strong {
  font-style: italic;
  font-weight: bold;
}

th {
  background-color: #eee;
}

td.code, th.code {
  background-color: #073642;
}

.jasmine_reporter {
  padding-top: 12px;
  padding-bottom: 20px;
}

/* Solarized Dark for Pygments */
.highlight {
  background-color: #073642;
  color: #93a1a1
}

.highlight .c {
  color: #586e75 !important;
  font-style: italic !important
}

.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important
}

.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important
}

.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important
}

.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important
}

.highlight .err {
  color: #dc322f !important;
  background: none !important
}

.highlight .k {
  color: #cb4b16 !important
}

.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important
}

.highlight .p {
  color: #93a1a1 !important
}

.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important
}

.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block
}

.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block
}

.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important
}

.highlight .gr {
  color: #aa0000
}

.highlight .gh {
  color: #586e75 !important
}

.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block
}

.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block
}

.highlight .go {
  color: #888888
}

.highlight .gp {
  color: #555555
}

.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important
}

.highlight .gu {
  color: #6c71c4 !important;
}

.highlight .gt {
  color: #aa0000 !important;
}

.highlight .k {
  color: #859900 !important;
  font-weight: bold !important
}

.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important
}

.highlight .kd {
  color: #268bd2 !important
}

.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important
}

.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important
}

.highlight .kt {
  color: #2aa198 !important
}

.highlight .n {
  color: #268bd2 !important
}

.highlight .na {
  color: #268bd2 !important
}

.highlight .nb {
  color: #859900 !important
}

.highlight .nc {
  color: #d33682 !important
}

.highlight .no {
  color: #b58900 !important
}

.highlight .ni {
  color: #800080
}

.highlight .nl {
  color: #859900 !important
}

.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important
}

.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important
}

.highlight .nn {
  color: #b58900 !important
}

.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important
}

.highlight .nx {
  color: #93a1a1 !important
}

.highlight .bp {
  color: #999999
}

.highlight .vc {
  color: #008080
}

.highlight .vg {
  color: #268bd2 !important
}

.highlight .vi {
  color: #268bd2 !important
}

.highlight .nv {
  color: #268bd2 !important
}

.highlight .w {
  color: #bbbbbb
}

.highlight .mf {
  color: #2aa198 !important
}

.highlight .m {
  color: #2aa198 !important
}

.highlight .mh {
  color: #2aa198 !important
}

.highlight .mi {
  color: #2aa198 !important
}

.highlight .mo {
  color: #009999
}

.highlight .s {
  color: #2aa198 !important
}

.highlight .sb {
  color: #d14
}

.highlight .sc {
  color: #d14
}

.highlight .sd {
  color: #2aa198 !important
}

.highlight .s2 {
  color: #2aa198 !important
}

.highlight .se {
  color: #dc322f !important
}

.highlight .sh {
  color: #d14
}

.highlight .si {
  color: #268bd2 !important
}

.highlight .sx {
  color: #d14
}

.highlight .sr {
  color: #dc322f !important
}

.highlight .s1 {
  color: #2aa198 !important
}

.highlight .ss {
  color: #990073
}

.highlight .il {
  color: #009999
}

.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: inline-block;
  width: 100%
}
