body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
.header, .main-content, .reasons, .example-text-label, .footer, .sponsors-logos {
  text-align: center;
}
.example, hr, .sponsors  {
  width: 80%
}
.reason, .example-code, .example-text, .logo, .footer-links, .footer-icon {
  display: inline-block
}
.menu {
  text-align: right;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-left: none;
}

.menu-options {
  line-height: 3em;
  margin-right: 5em;
}

.menu-icon {
  margin-left: 5em;
  float: left;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.menu a {
    margin-right: 40px;
}

.reasons {
  background-color: #f5f5ff;
  box-sizing: border-box;
}
.reason {
  width: 10%;
  margin: 2em 10em;
}

.example {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 5%;;
  margin-top: 5%;
  height: 30em;
}

.example-code {
  border: 1px solid black;
  width: 50%;
  padding: 5em 3em;
  margin-right: 5%;
}

.example-text {
  text-align: left;
  border: 1px solid black;
  width: 50%;
  padding: 5em 3em;
}

.example-text-links {
  margin-top: 5em;
}

.example-text-label {
  font-size: 32px;
  margin-bottom: .5em;
}
.sponsors {
  text-align: left;
  margin-left: 10%;
}

.sponsors-label {
  font-size: 28px;
  margin: .5em 5em;
}

.sponsors-logos {
  margin: 4em 1em;
}

.logo {
  font-size: 24px;
  margin: 0 5em;
  border: 1px solid black;
  padding: 10px 40px;
}

.footer {
  padding: 5em;
}
.link {
  margin: 0 2em;
}


.right {
  float:right;
}

.left {
  float: left;
}

.example-text-links a {
  text-decoration: none;
  color: #8A4182;
}

.example-text-links a:hover {
  text-decoration: underline;
}


