.jasmine-environments > span{
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 30px 0;
  font-weight: bold;
}

.jasmine-environments > .getting-started-link {
  text-align: center;
}

.community-environments > span {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 30px 0;
  font-weight: bold;
}

.getting-started-link {
  text-align: center;
  color: #8A4182;
}

.getting-started-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.jasmine-environments {
  margin: 5% 10%;
}

.community-environments {
  margin: 5% 10%;
}

.description {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin: 30px 0;
  width: 100%;
  display: inline-block;
}


