@mixin display-flex($direction) {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;

  -webkit-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin flex-grow($grow) {
  flex-grow: $grow;
  -webkit-flex-grow: $grow;
  -ms-flex-grow: $grow;
}

@mixin flex-shrink($shrink) {
  flex-shrink: $shrink;
  -webkit-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
}

@mixin align-items($align) {
  align-items: $align;
  -webkit-align-items: $align;
  -ms-align-items: $align;
}

@mixin align-content($align) {
  align-content: $align;
  -webkit-align-content: $align;
  -ms-align-content: $align;
}

@mixin align-self($align) {
  align-self: $align;
  -webkit-align-self: $align;
  -ms-align-self: $align;
}

@mixin justify-content($justify) {
  justify-content: $justify;
  -webkit-justify-content: $justify;
  -ms-justify-content: $justify;
}

@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
}

@mixin light-code() {
  background-color: #f0f0f0;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}
