.article {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.2em;

  &.main-content {
    // Override display:flex that prevents margins on children from collapsing.
    display: block;
  }

  p {
    width: 100%;
    margin: 1em 0;
  }

  ol, ul {
    margin: 10px 0;
  }

  .highlighter-rouge {
    width: 100%;
    margin: 15px 0;

    .highlight {
      margin-left: 6px;
      margin-right: 6px;
      padding: 8px;
    }
  }

  pre.highlight {
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  }

  code.highlighter-rouge {
    @include light-code();
    padding: 1px 2px;
  }
}
