@import 'mixins';
@import 'constants';

.option {
  width: 100%;
  margin-bottom: 30px;

  h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: $jasmine-color;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1rem;
  }

  pre {
    @include light-code();
    padding: 10px;
    margin-bottom: 1rem;
  }
}
