@import 'constants';

.header {
  // Will be set to either position: relative or position: sticky below.
  // Either allows title and search to be positioned within.
  background-color: $jasmine-color;
  width: 100%;
  // Allow the search menu to extend outside the header
  overflow: visible;

  .header-logo-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;
    // Prevent the logo from extending below the header and blocking
    // interactions with elements further down the page
    overflow: hidden;
  }

  .header-logo {
    width: 500px;
    opacity: 0.25;
  }

  .header-title {
    margin-left: $smallScreen-margin;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.small-header {
    position: sticky;
    top: 0;
    height: 80px;

    .header-title {
      height: 95%;

      img {
        height: 100%;
      }
    }
  }

  &.big-header {
    position: relative;
    height: 300px;

    .header-logo {
      height: 500px;
    }

    .header-title-text {
      margin-top: -20px;
      margin-left: 200px;
      color: white;
      font-size: 30px;
    }
  }
}

.search-wrapper {
  position: absolute;
  top: 12px;
  right: 30px;
}

input[name=search] {
  font-size: 1.2rem;
  border: 0;
  width: 250px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px 6px;
}

.searchResults {
  position: absolute;
  z-index: 100;
  background: white;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border: 1px solid $jasmine-color;
  line-height: 1.3;

  li a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background: #DDD;
    }
  }
}

.menu {
  border-bottom: 3px solid $jasmine-color;
  background: white;
  padding: 0 $smallScreen-margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;

  a.menu-option {
    text-transform: uppercase;
    text-decoration: none;
    color: $jasmine-color;
    margin-left: 10px;
    flex-grow: 1;
    flex-shrink: 0;

    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }

  .home {
    flex-grow: 5;
    img:hover {
      opacity: 0.75;
    }
  }
}