@mixin display-flex($direction) {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;

  -webkit-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin flex-grow($grow) {
  flex-grow: $grow;
  -webkit-flex-grow: $grow;
  -ms-flex-grow: $grow;
}
