// Minimal reset CSS
// Unlike a traditional reset stylesheet, this only resets properties whose
// defaults negatively affect the rendering of this site in modern-ish (as of
// 2023) browsers.
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

p {
	// Reduce spacing between paragraphs and preceding headings etc
	margin-top: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}

figure, pre {
	margin: 0;
}