.side-by-side {
  align-items: inherit;

  .content-push.small {
    margin-top: 60px;
  }

  table {
    thead {
      tr {
        background: none;
      }
    }

    td, th {
      border: none;
    }
  }
}
