.idea
_tmp/
.bundle/
vendor/
**/lib/specRunner*.html
_site/
.sass-cache
node_modules
_api/edge/fonts/
*.sw?
.current_version
.current_browser_runner_version
.current_npm_version
.current_reporters_version
.jekyll-cache
