<div class="header">
  <img class="header-logo" src="{{ site.github.url }}/images/Jasmine-Circle-Big.png" alt=""/>
  <div class="header-title">
    <a class="home" href="{{ site.github.url }}/index.html">
      <img src="{{ site.github.url }}/images/Jasmine-Horizontal-Large-White.png" alt="Documentation Home" />
    </a>
    <span class="header-title-text">Behavior-Driven JavaScript</span>
  </div>
</div>
<div class="search-wrapper">
  <input name="search" placeholder="search" autocomplete="off" />
  <ul class="searchResults"></ul>
</div>
<div class="menu">
  <a class="menu-option" href="{{ site.github.url }}/pages/getting_started.html">Get Started</a>
  <a class="menu-option" href="{{ site.github.url }}/pages/docs_home.html">Docs</a>
  <a class="menu-option" href="{{ site.github.url }}/pages/support.html">Support</a>
  <a class="menu-option" href="https://github.com/jasmine/jasmine/releases">Releases</a>
  <a class="menu-option" href="https://github.com/jasmine/jasmine">Github</a>
</div>
<div class="content-push"></div>
<a href="https://github.com/jasmine/jasmine.github.io" target="_blank" style="position: fixed; top: 0; right: 0; border: 0;"><img src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
