<div class="header shrinking small no-resize">
  <img class="header-logo" src="{{ site.github.url }}/images/jasmine-white-circle.svg" alt=""/>
  <div class="header-title">
    <a class="home" href="{{ site.github.url }}/index.html">
      <img src="{{ site.github.url }}/images/jasmine-white-horizontal.svg" width = '600' height = '140' alt="Documentation Home" />
    </a>
    <span class="header-title-text">Simple JavaScript testing</span>
  </div>
</div>
<div class="search-wrapper">
  <input name="search" placeholder="search" autocomplete="off" />
  <ul class="searchResults"></ul>
</div>
<div class="content-push small"></div>
