{% if page.collection == 'api' or page.collection == 'versions' %}
  {% assign versionPath = page.url | remove_first: "/" | remove: "api/" | split: "/" %}
  {% assign version = versionPath.first | strip %}


  {% unless version == 'edge' %}
    {% assign currentVersion = "" %}
    {% assign latestSortKey = "" %}
    {% for otherPage in site.api %}
      {% if otherPage.url contains "/global" and otherPage.sortKey != "edge" and otherPage.sortKey > latestSortKey %}
         {% assign currentVersion = otherPage.url | remove_first: "/api/" | remove: "/global" | downcase %}
         {% assign latestSortKey = otherPage.sortKey %}
      {% endif %}
    {% endfor %}


    {% unless version == currentVersion %}
      {% if page.collection == 'api' %}
        {% assign pageName = page.url | split: "/" | last %}
      {% else %}
        {% assign pageName = "global" %}
      {% endif %}
      {% if page.collection == 'api' %}<div class="main-content">{% endif %}
      <div class="warning">
          This page is for an older version of Jasmine ({{version}})<br/>
            The current stable version of Jasmine is: <a href="/api/{{ currentVersion }}/{{ pageName }}">{{ currentVersion }}</a> -
            You can also look at the docs for the next release: <a href="/api/edge/{{ pageName }}">Edge</a>
      </div>
      {% if page.collection == 'api' %}</div>{% endif %}
    {% endunless %}
  {% endunless %}
{% endif %}
