---
layout: default
title: Jasmine documentation home
---

<div class="main-content">
  <div>
    <h2>API Docs</h2>
    <h3>jasmine-core</h3>
    <ol class="api-docs-versions">
    {% for version in site.api reversed %}
    {% if version.url contains "/global" and version.archived != true %}
    <li><a href="{{ site.github.url }}{{ version.url }}">{{ version.url | remove_first: "/api/" | remove: "/global" | capitalize }}</a></li>
    {% endif %}
    {% endfor %}
    <li><a href="api_docs_all_versions.html">All versions</a></li>
    </ol>
    <h3>jasmine-npm</h3>
    <ol class="api-docs-versions">
      {% for version in site.npm-api reversed %}
      {% if version.title == "Home" %}
      <li><a href="{{ site.github.url }}{{ version.url }}">{{ version.url | remove_first: "/api/npm/" | remove: "/index" | capitalize }}</a></li>
      {% endif %}
      {% endfor %}
      <li><a href="api_docs_all_versions.html">All versions</a></li>
    </ol>
    <h3>jasmine-browser-runner</h3>
    <ol class="api-docs-versions">
    {% for version in site.browser-runner-api reversed %}
    {% if version.title == "Home" %}
    <li><a href="{{ site.github.url }}{{ version.url }}">{{ version.url | remove_first: "/api/browser-runner/" | remove: "/index" | capitalize }}</a></li>
    {% endif %}
    {% endfor %}
    <li><a href="api_docs_all_versions.html">All versions</a></li>
    </ol>
  </div>
  <div>
    <h2>Getting Started</h2>
    <h3><a href="{{ site.github.url }}/setup/nodejs.html">Node.js</a>
    <h3><a href="{{ site.github.url }}/setup/browser.html">Browser runner</a>
    <h3><a href="{{ site.github.url }}/setup/ruby.html">Ruby</a>
    <h3><a href="{{ site.github.url }}/setup/python.html">Python</a>
  </div>
  <div>
    <h2>Tutorials</h2>
    {% assign sorted_tutorials = site.tutorials | sort:"order", "last" %}
    {% for tut in sorted_tutorials %}
      <h3><a href="{{site.github.url}}{{tut.url}}">{{ tut.url  | remove_first: "/tutorials/" | replace: "_", " " | capitalize }}</a></h3>
    {% endfor %}
  </div>
  <div>
    <h2>Archive</h2>
    {% for version in site.versions reversed %}
    {% if version.url contains "/introduction" %}
    <h3><a href="{{ site.github.url }}{{ version.url }}">{{ version.url | remove_first: "/" | remove: "/introduction" | capitalize }}</a></h3>
    {% endif %}
    {% endfor %}
  </div>
</div>