<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <title>{{ title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Lora|Istok+Web:700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/docco.css"/>
  <link rel="stylesheet" href="css/jasmine_docco.css"/>
  <link rel="stylesheet" href="lib/jasmine.css"/>
<% unless no_tests %>
  <script src="lib/jasmine.js"></script>
  <script src="lib/jasmine-html.js"></script>
  <script src="lib/boot.js"></script>
  <script src="src/support/mock-ajax.js"></script>
  <script src="src/{{ title }}"></script>
<% end %>
  <link rel="icon" href="images/jasmine.ico" sizes="16x16">
  <link rel="icon" href="images/jasmine_32x32.ico" sizes="32x32">
</head>
<body>
<div id="container">
  <div id="background"></div>
  {{#sources?}}
  <div id="jump_to">
    Jump To &hellip;
    <div id="jump_wrapper">
      <div id="jump_page">
        {{#sources}}
        <a class="source" href="{{ url }}">{{ basename }}</a>
        {{/sources}}
      </div>
    </div>
  </div>
  {{/sources?}}
  <div class="title-banner">
    <a class='jasmine-logo' href="http://github.com/pivotal/jasmine"></a>
    <div class='powered-container'>
      <span class='powered'>Powered by</span>
      <a href="http://pivotallabs.com/" target="_blank" class="pivotal-logo"></a>
    </div>
  </div>
  <table cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="docs">
        <h1>{{ title }}</h1>
      </th>
      <th class="code"></th>
    </tr>
    </thead>
    <tbody>
    {{#sections}}
    <tr id="section-{{ section_id }}">
      <td class="docs">
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class="code">
        <div class="highlight">
          <pre>{{{ code }}}</pre>
        </div>
      </td>
    </tr>
    {{/sections}}
    </tbody>
  </table>
</div>
<script>
  (document.querySelector(".version") || {}).innerHTML = (typeof jasmine !== "undefined") ? jasmine.version : "";
</script>
</body>
</html>
